<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <title>Urly</title>

    <link rel="stylesheet" href="/styles/style.min.css" />

    <% /* HACK: Need this for JavaScripts in angular partials */ %>
    <% /* https://groups.google.com/forum/#!topic/angular/H4haaMePJU0 */ %>
	<script src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>

    <% /* HACK: For some reason include in flash partial won't work */ %>
    <script src="/js/vendor/toastr/toastr.min.js"></script>
</head>

<body>
    <%- body %>
    <%- partial('../partials/flash') %>
    <%- partial('../partials/google_analytics') %>

    <footer>
        <div class="container">
            <p class="pull-left">&copy; <a href="http://jefflee.net" title="Jeff Lee">Jeff Lee</a> 2014</p>
            <p class="pull-right">
                <% if (req.isAuthenticated()) { %>
                    <a href="/dashboard" title="Dashboard">Dashboard</a>
                    <a href="/docs" title="API Documentation">Developers</a>
                    <a href="/user/logout" title="Dashboard" target="_self">Log Out</a>
                <% } else { %>
                    <a href="/user/login" title="Login" target="_self">Login</a>
                    <a href="/user/signup" title="Sign Up" target="_self">Sign Up</a>
                    <a href="/docs" title="API Documentation">Developers</a>
                <% } %>
            </p>
        </div>
    </footer>
</body>

</html>
