<form role="form" id="loginForm" method="post" action="/user/login">
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" name="email" id="email" placeholder="Enter email" ng-model="loginForm.email" />
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" id="password" placeholder="Password" ng-model="loginForm.password" />
    </div>

    <button class="btn btn-primary" ng-click="login()">Login</button>
</form>
