<form role="form" name="signupForm" method="post" action="/user/add">
    <div class="form-group floating-label-form-group">
        <label for="email">E-mail</label>
        <input
            type="text"
            class="form-control input-lg"
            name="email"
            id="email"
            placeholder="E-mail"
            ng-model="email"
            tabindex="1"
            validator="required, email" />
    </div>

    <div class="form-group floating-label-form-group">
        <label for="password">Password</label>
        <input
            type="password"
            class="form-control input-lg"
            name="password"
            id="password"
            placeholder="Password"
            tabindex="2"
            ng-model="password" />
    </div>
</form>

<br />

<div class="text-center">
    <button class="btn btn-primary btn-lg" ng-click="signup()" tabindex="3">Sign Up</button>
</div>

<script src="/js/angular/user/partials/js/floating-label.js"></script>
