<form role="form" name="urlyForm">
    <div class="form-group floating-label-form-group">
        <label for="longUrl">Enter your URL</label>
        <input
            type="text"
            class="form-control input-lg"
            id="longUrl"
            ng-model="urlyForm.longUrl"
            placeholder="Enter your URL"
            validator="url" />
    </div>

    <br />

    <div class="text-center">
        <button class="btn btn-primary btn-lg" ng-click="shortenUrl()">Urly!</button>
    </div>
</form>

<div class="well well-large hide" id="shortenedResult">
    Your shortened URL: <a href="/{{ shortUrl }}" target="_blank">{{ baseUrl}}/{{ shortUrl}}</a>
</div>

<script src="/js/angular/user/partials/js/floating-label.js"></script>
