
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">General Stats</div>
            <div class="panel-body">
                <qrcode data="{{ baseUrl + '/' + shortUrl }}"></qrcode>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">Referrers</div>
            <div class="panel-body">

            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">Browsers</div>
            <div class="panel-body">

            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">Countries</div>
            <div class="panel-body">

            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">Platforms</div>
            <div class="panel-body">

            </div>
        </div>
    </div>
</div>
