html {
    min-height: 100%;
    position: relative;
}

body {
    background-color: #EEE;
    margin-bottom: 60px;
    padding-bottom: 20px;
    height: 100%;
}

/* Customize container */
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

a:hover {
    text-decoration: none;
}

header {
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 10px;
}

header h2 {
    font-family: 'Indie Flower', cursive;
}

footer {
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
    padding-top: 19px;
    border-top: 1px solid #e5e5e5;
}

footer p.pull-right a {
    margin-left: 18px;
}
